body {
    background-color: beige;
}

h1 {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 700;
}

h2 {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 600;
    color: #53360E;
    font-style: italic;
   
}

#small {
    font-size:19px ;
}

li {
    font-family: Helvetica, Arial, sans-serif;
}

a{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 30px;
    background-color: coral;
}

#red_highlight {
    background-color:rgb(208, 255, 1);
}
